@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Anek Latin', sans-serif; */
    font-weight: 300;
    font-size: 16px;
}
/* #856c4c #3e6c85 #8cb9d1 #ffe6c4 #f2c894 #bf826b*/
:root {
    --background: #bfbfbf;
    --formulario: rgb(218, 217, 217);
    --title: black;
    --preto: black;
    --msgerror: rgb(102, 0, 0);
    --placeholder: black;
    --btncolor: #023535;
    --menubackground: #023535;
    --btnlettercolor: rgb(218, 217, 217);
}

/* Flexbox */

h1#login-title {
    text-align: center;
    color: var(--title);
}

main#flex-container {
    display: flex;
    flex-direction: row;
    background-color: var(--background);
}

#coluna-esquerda {
    width: 45%;
    height: 100vh;
    background: url(../imagens/biblioteca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#coluna-direita {
    width: 55%;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#login{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
}

/* Estilizando o Formulario de Login */

#login-title {
    /* margin-top: 30px; */
    text-align: center;
}
form {
    /* margin: 15% 0 0 5%; */
    align-self: center;
    padding: 5%;
    width: 70%;
    background-color: var(--formulario);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}    

.cadastrar-se {
    align-self: center;
    padding-top: 8px;
}

input[type=text] {
    all: unset;
    outline: none;
    width: 90%;
    padding: 5px;
    display: block;
    /* border: 2px solid #2C2F33;
    background: #f1f1f1; */
    border-bottom: 2px solid var(--preto);
    background: transparent;
    margin-top: 15px;
    color: var(--preto);
    /* border-radius: 10px; */
}
input[type=password] {
    all: unset;
    outline: none;
    width: 90%;
    padding: 5px;
    display: block;
    /* border: 2px solid #2C2F33;
    background: #f1f1f1; */
    border-bottom: 2px solid var(--preto);
    background: transparent;
    margin-top: 15px;
    color: var(--preto);
    /* border-radius: 10px; */
}

#usuario::placeholder {
    color:var(--placeholder);
}
#senha::placeholder {
    color: var(--placeholder);
}


#login-btn {
    outline: none;
    padding: 13px 0;
    background-color: var(--btncolor);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: padding .6s;
    margin-top: 15px;
    width: 25%;
    align-self: center;
    font-size: 17px;
    color: var(--btnlettercolor);
}

#login-btn:hover {
    cursor: pointer;
    /* padding: 18px 40px; */
    /* box-shadow: 2px 2px 2px #535a61; */
}

#login-btn:active {
    opacity: 0.8;
}

label {
    color: var(--preto);
    font-weight: bold;
}

.msg-erro {
    color: var(--msgerror);
    opacity: 0;
}

#usuario-container {
    margin-bottom: 50px;
}


/* MOBILE */

@media (max-width: 768px) {
    #coluna-esquerda {
        display: none;
    }
    #coluna-direita{
        display: flex;
        width: 100%;
    }
    #usuario::placeholder {
        color:var(--placeholder);
        font-size: 11px;
    }
    #senha::placeholder {
        color: var(--placeholder);
        font-size: 12px;
    }
}
#logout{
    background-color: var(--msgerror);
    padding: 15px;
    border-radius: 3px;
}